<div>
   <div ng-if="!isEditing" class="display">
      <div class="creator">
         <user-link user="model.creator"
                    picture-size="1.3em">
         </user-link>
         <span class="date" ng-bind="getDateString()"></span>
      </div>
      <div class="text" ng-bind="model.text">
      </div>
      <div class="options">
      </div>
   </div>

   <div ng-if="isEditing" class="edit" ng-style="getEditDivStyle()">
      <div class="text">
         <textarea 
            class="form-control"
            ng-model="editingComment.text">
         </textarea>
      </div>
      <div class="options">
         <a class="left" 
            ng-click="saveClicked()"
            ng-bind="saveButtonText || 'Save'">
         </a>
         <a class="right"
            ng-click="cancelClicked()"
            ng-bind="cancelButtonText || 'Cancel'">
         </a>
      </div>
   </div>
</div>