<div class="notification"
     ng-style="getStyle()"
     ng-click="clicked()">
   <div class="user-picture">
      <profile-picture user="notification.creator"
                     width="100%"
                     height="100%"
                     fitted="true"
                     centered="true"
                     show-uploading="false">
      </profile-picture>
   </div>
   <div class="words">
      <div class="message">
         <span class="text">
            <span class="name"
                  ng-bind="notification.creator.first_name">
            </span>
            <span class="subtext"
                  ng-bind="notification.text">
            </span>
         </span>
      </div>
      <div class="time"
            ng-bind="getNotificationTime()">
      </div>
   </div>
   <div class="question-picture"
        media-renderer="picture"
        model="notification.parent.preview_pictures[0]"
        width="100%"
        fitted="true"
        centered="true"
        show-uploading="false">
   </div>
</div>
