<div class="no-media" 
     ng-if="!hasMedia()" 
     ng-style="getRootNoMediaDivStyle()"
     ng-click="activateFileReader()">
   <div ng-if="!isLoadingMedia" 
        font-awesome-centered-icon 
        font-awesome-params="fa fa-picture-o fa-5x">
   </div>
   
   <div ng-if="isLoadingMedia"
        font-awesome-centered-icon
        font-awesome-params="fa fa-refresh fa-spin fa-4x fa-fw">
   </div>

<!--
   <div ng-if="!isLoadingMedia" class="picture-icon icon-container">
      <span></span>
      <i class="fa fa-picture-o fa-5x"></i>
   </div>   
   
   <div ng-if="isLoadingMedia" class="loading-icon icon-container">
      <span></span>
      <i class="fa fa-refresh fa-spin fa-4x fa-fw"></i>
   </div> -->
</div>

<div class="has-media" ng-if="hasMedia()" ng-style="getHasMediaDivStyle()">
   <div class="media-container">
      <div media-renderer="picture"
           model="model"
           width="88%"
           height="98%"
           fitted="true"
           centered="true"
           class="picture-container">
      </div>
      <div class="media-container-options picture-container-options">
         <div class="media-container-option-description">
            <input class="form-control" 
                   ng-model="model.description"
                   ng-if="!isReadOnly"
                   placeholder="Quick Description" />
            <span ng-if="isReadOnly" ng-bind="model.description"></span>
         </div>
         <div ng-if="!isReadOnly">
            <span class="media-container-option-left">
               <a ng-click="activateFileReader()">Change</a>
            </span>
            <span class="media-container-option-right">
               <a ng-click="deleteModel()">Delete</a>
            </span>
         </div>
      </div>
      
      <div ng-if="model.upload_progress">
         <div loading-progress
              type="overlay_circle"
              show-percentage="false"
              progress-object="model.upload_progress">
         </div>
      </div>
              
   </div>
</div>

<file-reader
   supports-multiple="false"
   accept="image/*"
   create="fileReaderCreator"
   on-created="onFileReaderCreated(elementId)"
   on-files-added="onPictureSelectSuccess(files)"
   on-files-progress="onPictureSelectProgress(progress)"
   on-files-error="onPictureSelectError(error)">
</file-reader> 