<div ng-class="getWidgetClass()"
     ng-style="getWidgetStyle()"
     ng-click="onWidgetClicked()">
   <div class="section title"
        ng-bind="question.getTopic()">
   </div>
   <div class="section date"
        ng-bind="getQuestionDate()">
   </div>
   <div media-renderer="picture"
        class="section picture"
        model="question.preview_pictures[0]"
        fitted="true"
        centered="true">
   </div>
   <div class="section text"
        ng-bind="question.text"
        title="{{question.text}}">
   </div>
</div>
