<div class="no-media" 
     ng-if="!hasMedia()"
     ng-style="getRootNoMediaDivStyle()">
   <div ng-if="!isLoadingMedia"
        ng-click="activateFileReader()"  
        font-awesome-centered-icon 
        font-awesome-params="fa fa-video-camera fa-5x">
   </div>
   
   <div ng-if="isLoadingMedia"
        font-awesome-centered-icon
        font-awesome-params="fa fa-refresh fa-spin fa-4x fa-fw">
   </div> 
   <div class="progress-message">
      <span ng-bind="getProgressMessage()"></span>
   </div>
</div>


<div class="has-media" ng-if="hasMedia()" ng-style="getHasMediaDivStyle()">
   <div class="media-container">
      <div media-renderer="video"
           model="model"
           width="95%"
           fitted="true"
           centered="true"
           class="video-container"
           can-preload="true"
           show-uploading="false"
           can-hide-while-loading="false"
           information="videoInformation"
           on-event="onVideoEvent(name)">
      </div>

      <div media-renderer="picture"
           model="model.thumbnail"
           width="100px"
           fitted="false"
           style="position:absolute;top:100px;left:100px;">
      </div>
      
      
      <div class="media-container-options video-container-options">
         <div class="media-container-option-description">
            <input class="form-control" 
                   ng-model="model.description"
                   ng-if="!isReadOnly"
                   placeholder="Quick Description" />
            <span ng-if="isReadOnly" ng-bind="model.description"></span>
         </div>
         <div ng-if="!isReadOnly">
            <span class="media-container-option-left">
               <a ng-click="activateFileReader()">Change</a>
            </span>
            <span class="media-container-option-right">
               <a ng-click="deleteModel()">Delete</a>
            </span>
         </div>
      </div>
      
      <div ng-if="model.upload_progress">
         <div loading-progress
              type="overlay_circle"
              show-percentage="false"
              progress-object="model.upload_progress">
         </div>
      </div>
              
   </div>
</div>

<file-reader
   supports-multiple="false"
   accept="video/mp4,video/x-m4v,video/*"
   create="fileReaderCreator"
   on-created="onFileReaderCreated(elementId)"
   on-files-added="onVideoSelectSuccess(files)"
   on-files-progress="onVideoSelectProgress(progress)"
   on-files-error="onVideoSelectError(error)">
</file-reader> 