<div ng-style="getWidgetStyle()"
     ng-class="getWidgetClass()"
     ng-click="onWidgetClicked()">
   <div class="title">
      <span ng-bind="workout.name">
      </span>
   </div>

   <div class="description">
      <div class="text-container centered"
           ng-style="getTextContainerStyle()">
         <span class="distance"
               ng-bind="workout.getTotalDistance()">
         </span>
         <br />
         <span class="stroke" workout-icons="workout" size="2em">
         </span>
      </div>
   </div>

   <hover-options-overlay ng-if="hasHoverOptionsOverlay"
                          button-size="24px"
                          can-delete="{{canDelete}}"
                          can-view="{{canView}}"
                          on-view="onWidgetViewClicked()"
                          on-delete="onWidgetDeleteClicked()">
   </hover-options-overlay>
</div>
