<div class="container-fluid main">
    <div class="row">
        <div class="top-bar col-xs-12 col-md-12 col-lg-12" ui-view="top_bar"></div>
    </div>
    
    <div class="mobile-scroll" style="height:100%;">
      <div class="mobile-container">
         <div class="row">
            <div ui-view="header" class="header"></div>
         </div>    
         
         <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs large-header-padding" style="height: 64px;"></div>
            <div class="hidden-lg hidden-md hidden-sm col-xs-12 mobile-header-padding" style="height: 16px;"></div>
         </div>
         
         <div class="main-content">
            <div class="row">
               <div class="mobile-ad-space hidden-lg hidden-md hidden-sm col-xs-12">
                  <img src="./images/temp_mobile_ad.png" />
               </div>
            </div>
            
            <div class="row row-eq-height" style="height: 100%;">
                  <!--<div class="content-padding col-md-1 col-lg-1 col-sm-1 hidden-xs"></div>-->
                  <div ui-view="content" class="content col-md-9 col-lg-9 col-sm-9 col-xs-12" style="min-height:100%;"></div>
                  <div ui-view="ad_space_right" class="ad-space col-lg-3 col-sm-3 col-md-3 hidden-xs" style="min-height:100%;">
                     <div class="ad-container">
                        <div class="ad">
                            <img src="./images/temp_ad1.jpg" />
                        </div>
                        <div class="ad ad1">
                            <img src="./images/temp_ad2.png" />
                        </div>
                     </div>
                     <div class="copyright">
                        Andrew O'Mahony (c) 2016
                     </div>
                  </div>
            </div>
         </div>
      </div>
    </div>
</div>