div.login {
   div.sub-content {
      div.status-message {
         margin-bottom: 16px;
      }
      div.login-form {     
      }
      
      div.login-links {
         a {
            margin-bottom: 4px;
            display: block;
         }
      }
      
      @import "forgot_password";
   }
}