div.media-picker {
   div.no-media {
      div.icon-container {
         position: relative;
         width: 100%;
         height: 100%;
         text-align: center;
         
         span {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
         }
         
         i {
            display: inline-block;
            vertical-align: middle;
         }
      }
   }
   
   div.has-media {
      div.picture-container {
         width: 100%;
         height: 100%;
         margin-top: 8px;
         margin-bottom: 4px;

         div.picture-container-image {
            display: inline-block;
         }

         div.picture-container-options {
            span.picture-container-option-left {
               margin-right: 4px;
            }
            span.picture-container-option-right {
               margin-left: 4px;
            }
         }
      }
   }
}