.media-renderer {
   display: inline-block;
   position: relative;
 
   &.picture-renderer {
      // Maybe don't need this
      vertical-align: middle;
   }
   
   &.fitted {
      /*.centered {
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         margin: auto;      
      }*/
   }   
   
   &:not(.fitted) {
      img, video, iframe {
         width: 100%;
         height: 100%;
      }
   }
   
   video.offscreen, img.offscreen, iframe.offscreen {
      position: absolute;
      left: -7000px;
   }
}