.profile-picture {
   // So we set these values, but they get overriden
   // if the "fitted" attribute is not set, as an inline
   // style will then take over.
   
   width: 100%;
   height: 100%;

   &.admin {
      img {
         border: 2px solid #0000cc;
      }
   }
}