.question-widget {
   border: 1px solid black;
   position: relative;
   vertical-align: middle;

   &.link {
      &:hover {
         cursor: pointer;
      }
   }

   div.section {
      display: inline-block;
      width: 100%;
      text-align: center;

      &.title {
         height: 10%;
         font-weight: bold;
         padding-top: 0.6em;
      }

      &.date {
         height: 10%;
         font-size: 0.9em;
         color: #737373;
      }

      &.picture {
         height: 60%;
      }

      &.text {
         height: 19%;
         max-height: 19%;

         white-space: nowrap;
         text-overflow: ellipsis;
         overflow-y: hidden;
         overflow-x: hidden;
      }
   }
}
