.workout-widget {
   border: 1px solid black;
   position: relative;

   &.link {
      &:hover {
         cursor: pointer;
      }
   }

   .title {
      width: 100%;
      display: inline-block;
      
      margin-top: 0.1em;

      border-bottom: 1px solid black;

      font-weight: bold;
      font-size: 0.9em;
      text-align: center;

      text-overflow: ellipsis;
      white-space: nowrap;
	   overflow-y: hidden;
      max-height: 20%;

      span {
         margin-left: 0.1em;
         margin-right: 0.1em;         
         vertical-align: middle;
      }
   }
   
   .description {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      text-align: center;

      div.text-container {
         display: inline-block;
         vertical-align: middle;

         span.distance {
            font-size: 2.7em;
         }
         br {
            font-size: 0.1em;
         }
         span.stroke {
            img {
               width: 2em;
               height: 2em;
               margin-right: 0.2em;
            }
            position: relative;
            top: -0.6em;
         }
      }

      span.padding {
         display: inline-block;
         vertical-align: middle;
         height: 100%; 
      }
   }
}