<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Verify your E-Mail Address</title>
</head>
<body>
   <table>
      <tr>
         <td style="width:100%">Valiant Athletics</td>
      </tr>
      <tr>
         <td style="width:100%">Hello <%= first_name %>!</td>
      </tr>
      <tr>
         <td style="width:100%;text-align:center;">
            You're almost there!  You just need to click <a href="<%= verify_link %>">here</a>
            to verify your e-mail address.
         </td>
      </tr>
      
      <tr>
         <td style="width:100%;text-align:left;">
            <p>Thanks!</p>
            <p>Andrew O'Mahony</p>
            <p>Valiant Athletics</p>
         </td>
      </tr>
   </table>
</body>
</html>