
div.admin {
    height: 100%;
    
    div.header {
        color: black;
    }
    
    div.content {
        @import "home/home";
    }
    
    div.footer {
        span.logout-link {
            font-size: 10px;
        }
    }
}
