.set {
   a {
      font-size: 0.9em;
   }

   .font-awesome-icon-text {
      &.bullet {
         font-size: 0.68em;
      }
            
      span.icon {
         font-size: 0.9em;
      }
   }  

   div.list {
      &.elements {
         margin-left: 0.5em;
      }
   }

   div.total {
     // margin-top: 0.44em;
   }

   div.edit {
      &.inline {
         margin-top: 0.6em;
         margin-bottom: 0.6em;
         padding-top: 0.4em;
         padding-bottom: 0.4em;
         border-top: 2px dotted black;
         border-bottom: 2px dotted black;         

         div.bottom-options {
            margin-bottom: -0.35em;  
         }
      }

      div.options {
         div.option {
            margin-bottom: 0.44em;
            input.quantity {
               width: 100%;
            }
            input.notes {
               width: 100%;
            }
         }
         margin-bottom: 0.44em;
      }
   }
   div:not(.edit) {
      div.options {
         margin-bottom: 0.1em;
      }
   }
}