.set-element {
   .font-awesome-icon-text {
      &.bullet {
         font-size: 0.8em;
      }
            
      span.icon {
         font-size: 0.9em;
      }
   } 

   div.list {
      &.intervals,
      &.rests {
         margin-left: 1.1em;
      }
   }

   div.edit {
      font-size: 0.8em;
      div.element {
         input {
            display: inline-block;
            width: 100%;
         }
         select {
            width: 100%;
         }
         margin-bottom: 0.44em;
      }
   }

   div.display {
      font-size: 0.9em;
      span {
         margin-left: 0.22em;
         &.notes {
            font-size: 0.9em;
         }
      }
   }
}