.set-element-modification {
   div.edit {
      font-size: 0.9em;
      div.form {
         span.edit-icon {
            font-size: 1.1em;
            margin-right: 0.44em;
         }
         select {
            display: inline-block;
            width: 80%;
         }
         span.is-optional {
            margin-left: 1em;
            label {
               margin-left: -0.5em;
            }
         }
         margin-bottom: 0.22em;
      }
   }

   div.display {
      font-size: 1em;
      span {
         margin-left: 0.40em;

         &.icon {
            img {
               width: 1.1em;
               height: 1.1em;
            }
         }

         &.display {
            &.name {
               vertical-align: middle;
            }
         }
      }
   }
}