.speed-time {
   .font-awesome-icon-text {
      span.icon {
         font-size: 0.9em;
      }
   } 

   div.edit {
      font-size: 0.9em;
      div.form {
         span.edit-icon {
            font-size: 1.1em;
            margin-right: 0.44em;
         }
         input {
            display: inline-block;
            width: 25%;
         }
         select {
            display: inline-block;
            width: 20%;
         }         
         margin-bottom: 0.22em;
      }
   }

   div:not(.edit) {
      font-size: 1em;
      span.display {
         margin-right: 0.44em;
      }
   }
}