.workout {
   a {
      font-size: 0.9em;
   }
   
   .error {
      margin-top: 0.5em;
      font-size: 0.7em;
   }

   .list {
      &.sets {
         margin-left: 0.95em;
         div.running-total {
            margin-left: -0.95em;
         }
      }
   }

   .font-awesome-icon-text {
      span.icon {
         font-size: 0.9em;
      }
   }

   div.edit {
      div.options {
         div.option {
            margin-bottom: 0.44em;
         }
         margin-bottom: 0.44em;
      }     
   }

   div.display {
      div.options {
         margin-bottom: 0.44em;
      }

      .list {
         &.sets {
            .running-total {
               margin-bottom: 1.1em;
            }
         }
      }      
   }
}