.workout {
   a {
      font-size: 0.9em;
   }

   .list {
      &.sets {
         margin-left: 16px;
         @import "set_renderer";
      }
   }

   .font-awesome-icon-text {
      span.icon {
         font-size: 0.9em;
      }
   }

   div.edit {
      /*
      &.inline {
         margin-top: 0.6em;
         margin-bottom: 0.6em;
         padding-top: 0.4em;
         padding-bottom: 0.4em;
         border-top: 1px dotted black;
         border-bottom: 1px dotted black;         

         div.bottom-options {
            margin-bottom: -0.35em;  
         }
      }*/

      div.options {
         div.option {
            margin-bottom: 8px;
         }
         margin-bottom: 8px;
      }
   }

   div:not(.edit) {

   }
}