.workout {
   a {
      font-size: 0.9em;
   }

   .list {
      &.sets {
         margin-left: 16px;
         @import "set_renderer";
      }
   }

   .font-awesome-icon-text {
      span.icon {
         font-size: 0.9em;
      }
   }

   div.edit {
      div.options {
         input {
            font-size: 0.9em;
            height: 2.2em;
         }
         margin-bottom: 7px;
      }
   }

   div:not(.edit) {

   }
}