<div ng-if="!isEditing">
   <div class="options">
      <span class="notes" ng-if="model.notes" ng-bind="getSetNotes()"></span>
      <span class="quantity" ng-bind="getSetQuantity()"></span>

      <span ng-if="isEditable">
         <a ng-click="editClicked()">Edit</a>
         <a ng-click="deleteClicked()">Delete</a>
      </span>
   </div>
   <div class="set">
      <div class="element" ng-repeat="element in model.elements">
         <set-element model="element"
            is-editable="false"
            show-intervals-and-rests="true">
         </set-element>
      </div>  
   </div> 
</div>

<div ng-if="isEditing" class="edit">
   <div class="options">
      <div>
         <input type="text" class="form-control" placeholder="Number of Rounds" ng-model="editingSet.quantity" />
      </div>
      <div>
         <input type="text" class="form-control notes" placeholder="Notes" ng-model="editingSet.notes" />
      </div>
   </div>

   <div class="list">
      <div class="element" ng-repeat="element in editingSet.elements">
         <set-element
            model="element"
            save-button-text="{{element.is_unborn ? 'Add' : 'Save'}}"
            on-save-clicked="saveSetElement(element)"
            on-delete-clicked="deleteSetElement(element)"
            on-cancel-clicked="cancelSetElement(element)"
            is-editable="true"
            can-edit-inline="true"
            is-initially-editing="{{element.is_unborn ? true : false}}"
            show-intervals-and-rests="true">
         </set-element>
      </div>
   </div>

   <div class="menu">
      <a ng-click="newSetElement()">Add Swim</a>
   </div>

   <div class="total">
      <span ng-bind="getSetTotal()"></span>
      <div class="menu">
         <a class="left" 
            ng-bind="saveButtonText" 
            ng-click="saveClicked()"></a>
         <a class="right" ng-click="cancelClicked()">Cancel</a>
      </div>
   </div>
</div>