<div class="registration-form">
   <p>
      <label for="registration_email">E-Mail Address: </label>
      <input type="text" name="registration_email" ng-model="registrationInformation.email" />
   </p>
   
   <p>   
      <label for="registration_password">Password: </label>
      <input type="password" name="registration_password" ng-model="registrationInformation.password" />
   </p>
   
   <p>
      <label for="registration_password_repeat">Repeat Password: </label>
      <input type="password" name="registration_password_repeat" ng-model="registrationInformation.repeat_password" />
   </p>
   
   <p>   
      <label for="registration_first_name">First Name: </label>
      <input type="text" name="registration_first_name" ng-model="registrationInformation.first_name" />
   </p>
   
   <p>   
      <label for="registration_last_name">Last Name: </label>
      <input type="text" name="registration_last_name" ng-model="registrationInformation.last_name" /> 
   </p>
   
   <p>
      <button ng-click="registerUser()">Sign Up</button>
   </p>
</div>