<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 registration-form">
   <form>
      <div class="form-group">
         <label for="registration_email">E-Mail Address</label>
         <input type="text" class="form-control" name="registration_email" ng-model="registrationUser.email" />
      </div>
      
      <div class="form-group">  
         <label for="registration_password">Password</label>
         <input type="password" class="form-control" name="registration_password" ng-model="registrationUser.password" />
      </div>
      
      <div class="form-group">
         <label for="registration_password_repeat">Repeat Password</label>
         <input type="password" class="form-control" name="registration_password_repeat" ng-model="registrationUser.repeat_password" />
      </div>
      
      <div class="form-group">  
         <label for="registration_first_name">First Name</label>
         <input type="text" class="form-control" name="registration_first_name" ng-model="registrationUser.first_name" />
      </div>
      
      <div class="form-group"> 
         <label for="registration_last_name">Last Name</label>
         <input type="text" class="form-control" name="registration_last_name" ng-model="registrationUser.last_name" /> 
      </div>       
            
      <div class="form-group">
         <div class="fa-checkbox">
            <input type="checkbox" class="fa-square-checkbox" ng-model="registrationUser.is_visible_to_public" />
            <label>Visible to the public?</label>
         </div>
      </div>

      <div class="form-group">
         <div class="fa-checkbox">
            <input type="checkbox" class="fa-square-checkbox" ng-model="registrationUser.is_visible_to_users" />
            <label>Visible to other users?</label>
         </div>
      </div>
      
      <div class="form-group">
         <button ng-click="registerUser()">Sign Up</button>
      </div>
   </form>
</div>