.set-element {
   div.edit {
      input {
         display: inline-block;
         width: 50%;
      }
      select {
         width: 50%;
      }

      div.interval {

      }
      margin-bottom: 8px;
   }
}