.set-element {
   .font-awesome-icon-text {
      &.bullet {
         font-size: 0.8em;
      }
            
      span.icon {
         font-size: 0.9em;
      }
   } 

   div.list {
      &.intervals,
      &.rests {
         margin-left: 16px;
         @import "speed_time_renderer";
      }
   }

   div.edit {
      div.element {
         input {
            display: inline-block;
            width: 50%;
         }
         select {
            width: 50%;
         }
         margin-bottom: 8px;
      }
   }

   div:not(.edit) {
      span {
         margin-left: 4px;
         &.notes {
            font-size: 0.9em;
         }
      }
   }
}