.speed-time {
   div.edit {
      input {
         display: inline-block;
         width: 25%;
      }
      select {
         display: inline-block;
         width: 20%;
      }
      div.form {
         margin-bottom: 4px;
      }
   }

   div:not(.edit) {
      span {
         font-size: 0.9em;
         margin-right: 8px;
      }
   }
}