.workout {
   a {
      font-size: 0.9em;

      &.fa-icon-link {
         span.link-full-text {
            span.link-text {
               margin-left: 0.167em;
            }
         }
      }
   }

   .list {
      &.sets {
         margin-left: 16px;
         @import "set_renderer";
      }
   }

   div.edit {
      div.options {
         input {
            width: 50%;
         }
      }
   }

   div:not(.edit) {

   }
}