<span class="about-text">This is about my love for my Beautiful <span ng-bind="name"></span>.</span>

<button ng-click="onTestRequestClick()">Test HTTP</button>

<loading-progress type="pie" 
   color="black" 
   width="50px"
   progress-object="testProgressModel"></loading-progress>

<div>
<img src="./images/temp_image.jpg" />
</div>

<div>
<img src="./images/temp_image.jpg" />
</div>
<div>
<img src="./images/temp_image.jpg" />
</div>
<div>
<img src="./images/temp_image.jpg" />
</div>
<div>
<img src="./images/temp_image.jpg" />
</div>
<div>
<img src="./images/temp_image.jpg" />
</div>
<div>
<img src="./images/temp_image.jpg" />
</div>
<div>
<img src="./images/temp_image.jpg" />
</div>
<div>
<img src="./images/temp_image.jpg" />
</div>
<div>
<img src="./images/temp_image.jpg" />
</div>
<div>
<img src="./images/temp_image.jpg" />
</div>
<div>
<img src="./images/temp_image.jpg" />
</div>
<div>
<img src="./images/temp_image.jpg" />
</div>
<div>
<img src="./images/temp_image.jpg" />
</div>
