<span class="about-text">This is about my love for my Beautiful <span ng-bind="name"></span>.</span>

<button ng-click="onTestRequestClick()">Test HTTP</button>

<button ng-click="loginWithFacebook()">Login with Facebook</button>

<div>
<img src="https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/pictures/2015/8/6/1438891475168/Dan-Wallace-Swimming-Worl-009.jpg?w=460&q=85&auto=format&sharp=10&s=d6fe921a44c6ece625cbfaa99df633dc" />
</div>

<div>
<img src="https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/pictures/2015/8/6/1438891475168/Dan-Wallace-Swimming-Worl-009.jpg?w=460&q=85&auto=format&sharp=10&s=d6fe921a44c6ece625cbfaa99df633dc" />
</div>
<div>
<img src="https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/pictures/2015/8/6/1438891475168/Dan-Wallace-Swimming-Worl-009.jpg?w=460&q=85&auto=format&sharp=10&s=d6fe921a44c6ece625cbfaa99df633dc" />
</div>
<div>
<img src="https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/pictures/2015/8/6/1438891475168/Dan-Wallace-Swimming-Worl-009.jpg?w=460&q=85&auto=format&sharp=10&s=d6fe921a44c6ece625cbfaa99df633dc" />
</div><div>
<img src="https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/pictures/2015/8/6/1438891475168/Dan-Wallace-Swimming-Worl-009.jpg?w=460&q=85&auto=format&sharp=10&s=d6fe921a44c6ece625cbfaa99df633dc" />
</div><div>
<img src="https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/pictures/2015/8/6/1438891475168/Dan-Wallace-Swimming-Worl-009.jpg?w=460&q=85&auto=format&sharp=10&s=d6fe921a44c6ece625cbfaa99df633dc" />
</div><div>
<img src="https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/pictures/2015/8/6/1438891475168/Dan-Wallace-Swimming-Worl-009.jpg?w=460&q=85&auto=format&sharp=10&s=d6fe921a44c6ece625cbfaa99df633dc" />
</div><div>
<img src="https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/pictures/2015/8/6/1438891475168/Dan-Wallace-Swimming-Worl-009.jpg?w=460&q=85&auto=format&sharp=10&s=d6fe921a44c6ece625cbfaa99df633dc" />
</div><div>
<img src="https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/pictures/2015/8/6/1438891475168/Dan-Wallace-Swimming-Worl-009.jpg?w=460&q=85&auto=format&sharp=10&s=d6fe921a44c6ece625cbfaa99df633dc" />
</div>