<span class="about-text">This is about my love for my Beautiful <span ng-bind="name"></span>.</span>

<button confirm-click="onTestRequestClick()" 
        confirm-message="Test HTTP?">
   Test HTTP
</button>

<button confirm-click="england()"
        confirm-message="{{englandVariable}}">
   Talk about England
</button>

<div loading-progress 
   type="pie" 
   color="black" 
   width="50px"
   progress-object="testProgressModel"
   style="display: inline-block;">
</div>

<div>
<img src="./images/temp_image.jpg" />
</div>

<div>
<img src="./images/temp_image.jpg" />
</div>
<div>
<img src="./images/temp_image.jpg" />
</div>
<div>
<img src="./images/temp_image.jpg" />
</div>
<div>
<img src="./images/temp_image.jpg" />
</div>
<div>
<img src="./images/temp_image.jpg" />
</div>
<div>
<img src="./images/temp_image.jpg" />
</div>
<div>
<img src="./images/temp_image.jpg" />
</div>
<div>
<img src="./images/temp_image.jpg" />
</div>
<div>
<img src="./images/temp_image.jpg" />
</div>
<div>
<img src="./images/temp_image.jpg" />
</div>
<div>
<img src="./images/temp_image.jpg" />
</div>
<div>
<img src="./images/temp_image.jpg" />
</div>
<div>
<img src="./images/temp_image.jpg" />
</div>
