<div ng-if="currentEditingUser">
   <div class="profile-picture-container">
      <div class="profile-picture-display">
         <span class="hidden-xs">
            <profile-picture user="currentEditingUser" width="200px"></profile-picture>
         </span>
         <span class="hidden-lg hidden-md hidden-sm">
            <profile-picture user="currentEditingUser" width="150px"></profile-picture>
         </span>
      </div>
      <br />
      <div class="profile-picture-change" ng-if="isEditing">
         <a ng-click="changeProfilePicture()">Change profile picture</a>
         <br />
         <a ng-click="resetProfilePicture()">Reset profile picture</a>
         <file-reader 
            supports-multiple="false"
            accept="image/\*"
            is-active="profilePicturePickerIsActive"
            on-files-added="onProfilePictureSelectSuccess(files)"
            on-files-progress="onProfilePictureSelectProgress(progress)"
            on-files-error="onProfilePictureSelectError(error)">
         </file-reader>      
      </div>
   </div>
   <div class="profile-name-container">
      <span ng-bind="currentEditingUser.fullName()"></span>
   </div>
   <div class="profile-email-address-container">
      <span ng-bind="currentEditingUser.email"></span>
   </div>
   <div class="profile-picture-edit-container">
      <a ng-click="activateEditing()" ng-if="!isEditing">Edit Profile</a>
      <a ng-if="isEditing && !isSaving" ng-click="saveProfile()">Save Changes</a>
      <a ng-if="isEditing && !isSaving" ng-click="cancelEditing()">Cancel</a>
      <div ng-if="isEditing && isSaving">
         <span ng-bind="getSavingUserMessage()"></span>
      </div>
   </div>
</div>

<div ng-if="!currentEditingUser">
   <span>You don't have permission to view this user</span>
</div>