<div ng-if="currentEditingUser">
   <div class="edit-container profile-picture-container">
      <div class="profile-picture-display">
         <span class="hidden-xs">
            <profile-picture user="currentEditingUser" width="300px"></profile-picture>
         </span>
         <span class="hidden-lg hidden-md hidden-sm">
            <profile-picture user="currentEditingUser" width="150px"></profile-picture>
         </span>
      </div>
      <br />
      <div class="profile-picture-change" ng-if="isEditingProfile">
         <a class="change-profile-picture" ng-click="changeProfilePicture()">Change</a>
         <a class="reset-profile-picture" ng-click="resetProfilePicture()">Reset</a>
         <file-reader
            supports-multiple="false"
            accept="image/\*"
            is-active="profilePicturePickerIsActive"
            on-files-added="onProfilePictureSelectSuccess(files)"
            on-files-progress="onProfilePictureSelectProgress(progress)"
            on-files-error="onProfilePictureSelectError(error)">
         </file-reader>      
      </div>
   </div>
   
   <div class="edit-container profile-name-container" ng-if="!isChangingPassword && !isChangingEmail">
      <span ng-if="!isEditingProfile" ng-bind="currentEditingUser.fullName()"></span>
      <div class="top-edit-control" ng-if="isEditingProfile">
         <div>
            <input type="text"
                  placeholder="First Name"
                  class="form-control profile-name-input"
                  ng-model="currentEditingUser.first_name"
                  ng-model-options="{updateOn: 'blur'}"
                  required />
         </div>
         <div>
            <input type="text"
                  placeholder="Last Name"
                  class="form-control profile-name-input"
                  ng-model="currentEditingUser.last_name"
                  ng-model-options="{updateOn: 'blur'}"
                  required />
         </div>
      </div>
   </div>
   
   <div class="edit-container profile-email-address-container" ng-if="!isChangingPassword">
      <div ng-if="!isChangingEmail">
         <span class="email-text"
               ng-if="!isEditingProfile"
               ng-bind="currentEditingUser.email"></span>
      </div>
      <div ng-if="isChangingEmail">
         <div class="top-edit-control">
            <input type="email"
                  placeholder="New E-Mail"
                  class="form-control profile-email-input"
                  ng-model="emailChangeData.email"
                  ng-model-options="{updateOn: 'blur'}"
                  required />
         </div>
      </div>
   </div>
   
   <div class="edit-container profile-password-container" ng-if="isChangingPassword">
      <div class="top-edit-control">
         <div>
            <input type="password"
                  placeholder="Old Password"
                  class="form-control profile-old-password-input"
                  ng-model="passwordChangeData.old_password"
                  ng-model-options="{updateOn: 'blur'}"
                  required />
         </div>
         <div>
            <input type="password"
                  placeholder="New Password"
                  class="form-control profile-new-password-input"
                  ng-model="passwordChangeData.new_password"
                  ng-model-options="{updateOn: 'blur'}"
                  required />
         </div>
         <div>       
            <input type="password"
                  placeholder="Repeat New Password"
                  class="form-control profile-repeat-new-password-input"
                  ng-model="passwordChangeData.new_password_repeat"
                  ng-model-options="{updateOn: 'blur'}"
                  required />
         </div>         
      </div>
   </div>
   
   <div class="edit-container profile-options-container">
      <span ng-if="!isEditingProfile && !isChangingPassword && !isChangingEmail">
         <a ng-click="activateEditing()" ng-if="!isEditingProfile">Edit Profile</a>
         &nbsp;|&nbsp;
         <a ng-click="activateChangePassword()">Change Password</a>
         &nbsp;|&nbsp;
         <a ng-click="activateChangeEmail()">Change E-Mail</a>
      </span>
      
      <span ng-if="isEditingProfile && !isSaving">
         <a class="save-cancel-left save-changes" ng-click="saveProfile()">Save</a>
         <a class="save-cancel-right cancel-edit" ng-click="cancelEditing()">Cancel</a>
      </span>
      
      <span ng-if="isChangingPassword && !isSaving">
         <a class="save-cancel-left save-password" ng-click="changePassword()">Change</a>
         <a class="save-cancel-right cancel-change-password" ng-click="cancelChangePassword()">Cancel</a>
      </span>
      
      <span ng-if="isChangingEmail && !isSaving">
         <a class="save-cancel-left save-email" ng-click="changeEmail()">Change</a>
         <a class="save-cancel-right cancel-change-email" ng-click="cancelChangeEmail()">Cancel</a>
      </span>
      
      <div ng-show="isSaving">
         <span ng-bind="getSavingUserMessage()"></span>
      </div>
   </div>
</div>

<div ng-if="!currentEditingUser">
   <span>You don't have permission to view this user</span>
</div>