<div ng-if="currentEditingUser">
   <div class="profile-picture-container">
      <div class="profile-picture-display">
         <span class="hidden-xs">
            <profile-picture user="currentEditingUser" width="200px"></profile-picture>
         </span>
         <span class="hidden-lg hidden-md hidden-sm">
            <profile-picture user="currentEditingUser" width="150px"></profile-picture>
         </span>
      </div>
      <br />
      <div class="profile-picture-change" ng-if="isEditing">
         <a class="change-profile-picture" ng-click="changeProfilePicture()">Change</a>
         <a class="reset-profile-picture" ng-click="resetProfilePicture()">Reset</a>
         <file-reader 
            supports-multiple="false"
            accept="image/\*"
            is-active="profilePicturePickerIsActive"
            on-files-added="onProfilePictureSelectSuccess(files)"
            on-files-progress="onProfilePictureSelectProgress(progress)"
            on-files-error="onProfilePictureSelectError(error)">
         </file-reader>      
      </div>
   </div>
   <div class="profile-name-container" ng-if="!isChangingPassword">
      <span ng-if="!isEditing" ng-bind="currentEditingUser.fullName()"></span>
      <span ng-if="isEditing">
         <input type="text"
               placeholder="First Name"
               class="form-control profile-name-input"
               ng-model="currentEditingUser.first_name"
               ng-model-options="{updateOn: 'blur'}"
               required />
         <input type="text"
               placeholder="Last Name"
               class="form-control profile-name-input"
               ng-model="currentEditingUser.last_name"
               ng-model-options="{updateOn: 'blur'}"
               required />
      </span>
   </div>
   <div ng-show="isEditing" class="profile-editing-padding">
   </div>
   <div class="profile-email-address-container" ng-if="!isChangingPassword">
      <span ng-if="!isEditing"
            ng-bind="currentEditingUser.email"></span>
      <span ng-if="isEditing">
         <input type="email"
               placeholder="E-Mail"
               class="form-control profile-email-input"
               ng-model="currentEditingUser.email"
               ng-model-options="{updateOn: 'blur'}"
               required />
      </span>
   </div>
   <div class="profile-edit-container">
      <span ng-if="!isEditing && !isChangingPassword">
         <a ng-click="activateEditing()" ng-if="!isEditing">Edit Profile</a>
         <a ng-click="activateChangePassword()">Change Password</a>
      </span>
      
      <span ng-if="isEditing && !isSaving">
         <a class="save-changes" ng-click="saveProfile()">Save Changes</a>
         <a class="cancel-edit" ng-click="cancelEditing()">Cancel</a>
      </span>
      
      <span ng-if="isChangingPassword && !isSaving">
         <a class="save-password" ng-click="changePassword()">Change Password</a>
         <a class="cancel-change-password" ng-click="cancelChangePassword()">Cancel</a>
      </span>
      
      <div ng-show="(isEditing || isChangingPassword) && isSaving">
         <span ng-bind="getSavingUserMessage()"></span>
      </div>
   </div>
</div>

<div ng-if="!currentEditingUser">
   <span>You don't have permission to view this user</span>
</div>