div.register {
   div.sub-content {
      div.registration-form {
         div.form-group {
            span.form-errors {
               color: red;
               margin-left: 8px;
               font-size: 13px;
            }
         }
         
         div.profile-picture-input {            
            div.profile-picture-display {
               text-align: center;
               margin-bottom: 12px;
            }
            
            div.profile-picture-button {
               text-align: center;
               a.profile-picture-link {
                  &.change {
                     margin-right: 4px;
                  }
                  &.reset {
                     margin-left: 4px;
                  }
               }
            }
         }
         
         div.sign-up {
            @media screen and (max-width: $min-sm-screen-width) {
               margin-top: 20px;
               
            }  
            text-align: center;          
         }
      }
   }
}