div.register {
   div.sub-content {
      div.registration-form {
         div.form-group {
            span.form-errors {
               color: red;
               margin-left: 8px;
               font-size: 13px;
            }
         }
      }
   }
}