div.reset-password {
   div.sub-content {
      div.reset-password-form {
         div.form-group {
            span.form-errors {
               color: red;
               margin-left: 8px;
               font-size: 13px;
            }
         }
         
         div.resetting-in-progress {
            span.resetting-text {
               margin-left: 16px;
            }
         }
      }      
   }
}