div.ask {
   font-size: 14px;

   text-align: center;
   
   $form_input_width: 300px;
   
   label {
      margin: 0;
   }
   
   .ask-group {   
      .ask-header {
         font-size: 1.42em;
         font-weight: bold;
         margin-bottom: 0.57em;
      }
      
      .ask-sub-header {
         font-size: 0.93em;
         font-weight: bold;
         margin-bottom: 0.28em;
      }
      
      .ask-element {
         margin-top: 0.28em;
         margin-bottom: 0.28em;
      }
      
      margin-bottom: 1.07em
   }
   
   div.ask-topic {      
      select {
         width: $form_input_width;
      }
      
      input.form-control {
         display: inline-block;
         width: $form_input_width;
      }
   }
   
   div.ask-question {
      div.ask-question-header {
         margin-bottom: 0;
      }
      
      textarea {
         resize: none;
         font-weight: normal;;
         font-size: 1em;
         
         display: inline-block;
         
         @media screen and (min-width: $min-sm-screen-width) {   
            width: 80%;
         } 
         
         @media screen and (max-width: $min-sm-screen-width) {   
            width: $form_input_width;
         }
         
         height: 200px;
      }
   }
   
   div.ask-media {
      div.media-picker-container-row {
         margin-bottom: 0.857em;
      }
      
      div.media-picker-container {
         margin-right: 0.857em;
         display: inline-block;
         vertical-align: top;
      }
   }
}