div.question {
   div.sub-content {
      .title {
         text-align: center;

         font-size: 1.4em;
         font-weight: bold;
         margin-bottom: 0.8em;

         .subtitle {
            font-size: 0.8em;
            font-weight: normal;
         }
      }

      div.question-section {
         text-align: center;

         &.creator {
            font-size: 1.2em;
            margin-bottom: 0.4em;
         }

         &.text {
            span {
               display: inline-block;
               width: 90%;
            }
            font-size: 1.3em;
         }

         &.media {
            margin-top: 2em;

            div.media-area {
               display: inline-block;
               width: 90%;

               div.media-container {
                  display: inline-block;

                  .picture-container,
                  .video-container,
                  .youtube-container {
                     width: 100%;
                     height: 80%;
                     margin-bottom: 0.8em;
                     vertical-align: middle;
                  }

                  vertical-align: top;

                  .description {
                     font-size: 1.0em;
                  }
               }
            }
         }

         &.comments {
            margin-top: 2em;
            font-size: 1.2em;

            div.title {
               margin-bottom: 0.3em;
            }

            div.add-comment {
               margin-bottom: 0.3em;
            }

            div.comment-area {
               display: inline-block;
               width: 90%;

               .comment-container {
                  display: inline-block;
                  width: 100%;

                  .comment {
                     display: inline-block;
                     width: 100%;
                     height: 100%;
                  }
                  margin-bottom: 0.5em;
               }
            }
         }
      }

      @import "ask";
   }
}
