div.unauthorized {
   text-align: center;
   
   div.unauthorized-header {
      font-size: 16px;
      margin-bottom: 20px;
   }
   
   div.unauthorized-login {
      font-size: 15px;
      margin-bottom: 50px;
   }
   
   div.unauthorized-register {
      font-size: 14px;
      
      div.unauthorized-noproblem {
         margin-bottom: 20px;
      }
      
   }
}