<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
   <form name="forgotPasswordForm">
      <div class="form-group"
         ng-class="{ 'has-error': forgotPasswordForm.forgot_password_email.$touched && forgotPasswordForm.forgot_password_email.$invalid }">
         <label for="forgot_password_email">
            <span>E-Mail Address</span>
         </label>
         <input type="email" 
               class="form-control" 
               name="forgot_password_email" 
               ng-model="formData.emailAddress"
               required />
      </div>
      
      <div class="form-group" ng-if="!isRequestingNewPassword">
         <button ng-disabled="forgotPasswordForm.$invalid" ng-click="requestNewPassword()">
            Request New Password
         </button>
      </div>
      
      <div class="requesting-in-progress" ng-if="isRequestingNewPassword">
         <span><div loading-progress type="spinner"></div></span>
         <span class="requesting-text">Requesting new password...</span>
      </div>
   </form>
   
   <div ng-if="hasRequestedNewPassword">
      An e-mail has been sent to this e-mail address.  Please click the link within it to
      get a new password.
   </div>
</div>