<div class="row" ng-if="null !== getCurrentUnverifiedUser()">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <p>
         Hello <span ng-bind="getEmailAddress()"></span>!
      </p>
      <p>
         You just need to verify your account now.
      </p>
      <p>
         We have sent a link to your e-mail address, all you need to do
         is click it, and you're good to go!
      </p>
      <p>
         Didn't get an e-mail?  Click <a ng-click="resendVerificationEmail()">here</a> to resend it.  Make
         sure to check your spam folder if it isn't in your main inbox.
      </p>

      <div loading-progress 
            type="spinner"
            class="resending-in-progress"
            ng-if="isSendingEmail"
            message="Resending E-Mail...">
      </div>

<!--
      <div ng-if="isSendingEmail" class="resending-in-progress">
         <span>
            <div loading-progress type="spinner">
            </div>
         </span>
         <span class="resending-text">
            Resending E-Mail...
         </span>
      </div> -->
      
      <p ng-if="hasSentEmail">
         E-Mail sent successfully!
      </p>

   </div>
</div>

<div class="row" ng-if="null === getCurrentUnverifiedUser()">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
      <p>
         It appears that you navigated here by accident.
      </p>
      <p>
         Click <a ui-sref="main.page.home.default">here</a> to go back to the homepage</a>
      </p>
   </div>
</div>
