<div class="row" ng-if="null !== getCurrentUnverifiedUser()">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <p>
         Hello <span ng-bind="getEmailAddress()"></span>!
      </p>
      <p>
         It appears you haven't verified your account.
      </p>
      <p>
         We sent a link to your e-mail address, all you need to do
         is click it.
      </p>
      <p>
         Didn't get an e-mail?  Click <a ng-click="resendVerificationEmail()">here</a> to resend it.  Make
         sure to check your spam folder if it isn't in your main inbox.
      </p>
   </div>
</div>

<div class="row" ng-if="null === getCurrentUnverifiedUser()">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
      <p>
         It appears that you navigated here by accident.
      </p>
      <p>
         Click <a ui-sref="main.page.home.default">here</a> to go back to the homepage</a>
      </p>
   </div>
</div>
