<div ng-if="currentEditingWorkout">
   <div class="workout-information">
      <div class="creator">
         <span class="workout-created-by">Created by </span>
         <a class="cancel-underline" 
            ui-sref="main.page.user.default({userId: currentEditingWorkout.creator.id})">
            <profile-picture user="currentEditingWorkout.creator" width="18px"></profile-picture>
         </a>
         <a ui-sref="main.page.user.default({userId: currentEditingWorkout.creator.id})"
            ng-bind="currentEditingWorkout.creator.fullName()"
            class="workout-created-by-name">
         </a>
      </div>
      <div class="workout-dates">
         <div class="updated-on" ng-if="getWorkoutUpdatedDateString()">
            <span class="date-label">
               Last Modified:
            </span>
            <span class="date-text"
                  ng-bind="getWorkoutUpdatedDateString()">
            </span>         
         </div>
      </div>
   </div>

   <div class="workout-container">
      <workout model="currentEditingWorkout"
               save-button-text="Save Workout" 
               cancel-button-text="Cancel"
               on-save-clicked="workoutSave(workout)"
               on-delete-clicked="workoutDelete(workout)"
               on-cancel-clicked="workoutCancel(workout)"
               is-editable="{{canEditWorkout()}}"
               is-initially-editing="false"
               can-edit-sets-inline="true"
               can-edit-inline="true">
      </workout>    
   </div>

   <div class="print">
      <workout model="currentEditingWorkout"
               is-editable="false">
      </workout>
   </div>

   <div loading-progress 
         type="spinner"
         class="saving-message fade-in"
         ng-if="isSaving"
         message="{{getSavingMessage()}}">
   </div>

   <div ng-if="errorMessage" class="error workout-error-message" ng-bind="errorMessage">
   </div>   

   <div ng-if="postSavingMessage" 
        class="workout-post-saving-message"
        ng-bind="postSavingMessage">
   </div>
</div>

<div ng-if="!currentEditingWorkout">
   <div class="error" ng-bind="getStaticErrorMessage()">
   </div>
</div>