div.main {
   height: 95%;
   
   @import "top_bar";
    
   div.mobile-scroll {
      
      @media screen and (max-width: $min-sm-screen-width) {
         overflow-y: scroll;
         overflow-x: hidden;
         
         -webkit-overflow-scrolling: touch;
      }
      
      div.mobile-container {
         @media screen and (min-width: $min-sm-screen-width) {   
            height: 100%;
         }         

         @media screen and (max-width: $min-sm-screen-width) {
            padding-bottom: 48px;
         }
      }
      
      div.header {
         color: black;
         @import "nav_bar";
      }
      
      div.main-content {
         height: 80%;  
         
         div.mobile-ad-space {
            text-align: center;
            padding-bottom:16px;
         }   
         
         div.content {
            height: 100%;
            
            @media screen and (min-width: $min-sm-screen-width) {   
               overflow-y: scroll;
               overflow-x: hidden;
               
               -webkit-overflow-scrolling: touch;
            }
         
            @media screen and (max-width: $min-sm-screen-width) {
               overflow-y: hidden;
               overflow-x: scroll;
            }     
            
            @media screen and (max-width: $min-sm-screen-width) {
               img {
                  max-width: 100%;
                  height: auto;
               }
            }
               
            @import "home/home";
            @import "about/about";
            @import "login/login";
            @import "register/register";
            @import "user/user";
            @import "reset_password/reset_password";
         }
         
         div.ad-space {
            height: 100%;
            div.copyright {
               float: right;
               font-size: 10px;
            }
         }
      }
   }
}
