div.main {
   height: 95%;
   
   @import "top_bar";
    
   div.mobile-scroll {
      
      @media screen and (max-width: $min-sm-screen-width) {
         overflow-y: scroll;
         overflow-x: hidden;
         
         -webkit-overflow-scrolling: touch;
      }
      
      div.mobile-container {
         @media screen and (min-width: $min-sm-screen-width) {   
            height: 100%;
         }         

         // Account for that status bar on mobile
         // web browsers at the bottom of the screen
         @media screen and (max-width: $min-sm-screen-width) {
            padding-bottom: 48px;
         }
      }
      
      div.header {
         color: black;
         div.logo-container {
            @media screen and (max-width: $min-sm-screen-width) {
               text-align: center;
            }  
            
            img.logo {
               @media screen and (max-width: $min-sm-screen-width) {
                  width: 90%;
                  height: 100px;
               }
               
               @media screen and (min-width: $min-sm-screen-width) {
                  width: 300px;
                  height: 100px;
               }                
            }          
         }
         @import "nav_bar";
      }
      
      div.main-content {
         height: 80%;  
         
         div.mobile-ad-space {
            text-align: center;
            padding-bottom:16px;
         }   
         
         div.content {
            height: 100%;
            
            @media screen and (min-width: $min-sm-screen-width) {   
               overflow-y: scroll;
               overflow-x: hidden;
               
               -webkit-overflow-scrolling: touch;
            }
         
            @media screen and (max-width: $min-sm-screen-width) {
               overflow-y: hidden;
               overflow-x: scroll;
            }     
            
            @media screen and (max-width: $min-sm-screen-width) {
               img {
                  max-width: 100%;
                  height: auto;
               }
            }
            
            div.sub-content {
               // For some reason, Firefox and Chrome
               // don't properly size the inner content
               // area, and the scrollbar doesn't go all the way down,
               // cutting off what's at the bottom.
               
               @media screen and (min-width: $min-sm-screen-width) {
                  padding-bottom: 48px;
               }
            }
               
            @import "home/home";
            @import "about/about";
            @import "login/login";
            @import "register/register";
            @import "user/user";
            @import "reset_password/reset_password";
            @import "question/question";
            @import "question/ask";
            
            @import "error/error";
         }
         
         div.ad-space {
            height: 100%;
            
            div.ad-container {
               div.ad {
                  display: inline-block;
                  width: 160px;
                  height: 600px;
               }
               
               div.ad1 {
                  margin-left: 3px;
               }
            }
            div.copyright {
               float: right;
               font-size: 10px;
            }
         }
      }
   }
}
