@import "top_bar";

div.main {
    height: 95%;
    div.header {
        color: black;
        height: 128px;
        @import "nav_bar";
    }
    
    div.main-content {
        height: 640px;
        
        div.content {
            height: 100%;
            padding-left: 24px;
            
            overflow-y: auto;
            overflow-x: hidden;            
            
            @import "home/home";
            @import "about/about";
        }
        
        div.ad-space {
            height: 100%;
            div.copyright {
                float: right;
                font-size: 10px;
            }
        }
    }
}
