div.nav-bar {
    padding-top: 16px;
    nav {
        a.link {
            @media screen and (max-width: $min-sm-screen-width) {
                font-size: 16px;
                margin-right: 20px;
            }
            
            @media screen and (min-width: $min-sm-screen-width) {
                font-size: 18px;
                margin-right: 28px;
            }
        }
    }
}