div.top-bar {
    background-color: black;
    color: white;
    height: 30px;
    min-height: 30px;
    margin-bottom: 16px;
    position: relative;
    
    div.user-details {
        position: absolute;
        
        top: 50%;
        right: 0px;
        
        height: 24px;
        margin-top: -12px;
        
        div.login-info {
            display: inline-block;
            height: 100%;
            
            a {
               &:hover {
                   background: #333333;
                   text-decoration: none;
               }
               
               &:focus {
                   text-decoration: none;
               }                
            }
            
            a.profile-name-and-picture {
               display: inline-block;
               height: 100%;
               
               padding-left: 8px;
               padding-right: 8px;
                              
               span.profile-picture-mini {
                  margin-right: 2px;
               }
                
               span.login-name {
                  vertical-align: middle;
                  color: white;
               }                
            }
            
            a.login-button {
                display: inline-block;
                height: 100%;
                
                padding-left: 8px;
                padding-right: 8px;
                
                span {
                    vertical-align: middle;
                }
                color: white;
            }
        }
    }
}