<div class="col-lg-6" style="font-size:18px;">
   <workout model="currentWorkout"
            save-button-text="Save"
            cancel-button-text="Cancel"
            on-save-clicked="workoutSave(workout)"
            on-edit-clicked="workoutEdit(workout)"
            on-cancel-clicked="workoutCancel(workout)"
            on-delete-clicked="workoutDelete(workout)"
            on-edit-set="editSet(set)"
            is-editable="true"
            is-initially-editing="true"
            can-edit-inline="true">
   </workout>
</div>

<div class="col-lg-6" style="font-size:18px;">
   <set ng-if="isEditingSet"
      model="currentEditingSet"
      save-button-text="Save"
      cancel-button-text="Cancel"
      on-save-clicked="saveSet(set)"
      on-cancel-clicked="cancelEditSet(set)"
      show-total-when-not-editing="false"
      is-initially-editing="true"
      can-edit-inline="false"
      is-editable="true"
      is-detached="true">
   </set>   
</div>