<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Reset your password</title>
</head>
<body>
   <table style="width: 100%;">
      <tr">
         <td style="width:100%">Valiant Athletics</td>
      </tr>
      <tr>
         <td style="width: 100%;">
            Hello!
         </td>
      </tr>
      <tr>
         <td style="width:100%;text-align:center;">
            To reset your password, you just need to click
            <a href="<%= reset_password_link %>">here</a> and enter a new one.
         </td>
      </tr>
      
      <tr>
         <td style="width:100%;text-align:left;">
            <p>Thanks!</p>
            <p>Andrew O'Mahony</p>
            <p>Valiant Athletics</p>
         </td>
      </tr>
   </table>
</body>
</html>