<div ng-if="!user.notifications.length">
   <div class="notification-scroll empty">
      <div class="empty-content">
         <span class="empty-message">
            No notifications
         </span>
         <span class="padding"></span>
      </div>
   </div>
</div>

<div ng-if="user.notifications.length">
   <div class="notification-scroll">
      <notification ng-repeat="notification in user.notifications"
                    model="notification"
                    on-clicked="notificationClicked(notification)"
                    is-last="{{$last}}">
      </notification>
   </div>
</div>
