<div class="ask">
   <div class="ask-topic ask-group">
      <div class="ask-header">
         What's your question about?
      </div>
      <div class="ask-element">
         <label class="dropdown">
            <select ng-model="currentQuestion.topic" 
                  ng-options="name for name in questionTopicOptions">
            </select>
         </label>
      </div>
      <div class="ask-element ask-sub-header ask-or">
         or
      </div>
      <div>
         <input type="text" class="form-control" placeholder="Tell me" ng-model="currentQuestion.custom_topic" />
      </div>
   </div>
   
   <div class="ask-question ask-group">
      <div class="ask-question-header ask-header">
         What's your question?
      </div>
      <div class="ask-sub-header ask-question-details">
         (Use as much detail as you like)
      </div>
      
      <textarea class="form-control"
                ng-model="currentQuestion.text"></textarea>
   </div>
   
   <div class="ask-media ask-group">
      <div class="ask-header ask-media-header">
         Any photos or videos?
      </div>
      <div class="ask-sub-header">
         (If video upload fails, use the Youtube button below)
      </div>
      
      <div class="media-picker-container-row">
        <div class="media-picker-container" ng-repeat="videoModel in currentQuestion.videos">
            <media-picker 
                    type="video" 
                    model="videoModel"
                    width="150px"
                    height="150px">
            </media-picker>
        </div>
        
        <div class="media-picker-container">
            <media-picker 
                    type="youtube" 
                    model="currentQuestion.youtube_video"
                    width="150px"
                    height="150px">
            </media-picker>
        </div>
      </div>
      
      <div class="media-picker-container-row">
        <div class="media-picker-container" ng-repeat="pictureModel in currentQuestion.pictures">
            <media-picker 
                    type="picture" 
                    model="pictureModel"
                    width="150px"
                    height="150px">
            </media-picker>
        </div>
      </div>
   </div>  
   
   <div class="ask-submit" ng-if="!isAskingQuestion">
      <button ng-click="askQuestion()">Ask Question</button>
   </div>

   <div loading-progress 
        class="fade-in"
        type="spinner"
        ng-if="isAskingQuestion"
        message="Asking..."
   ></div>
</div>
