<div class="unauthorized">
   <div class="unauthorized-header">
      To ask a question, you need to log in first.
   </div>
   
   <div class="unauthorized-login">
      <a ui-sref="main.page.login.default">Login</a>
   </div>
   
   <div class="unauthorized-register">
      <div class="unauthorized-noproblem">
         Don't have an account?  No problem!
      </div>
   
      <div class="unauthorized-register-link">
         <a ui-sref="main.page.register.default">Get an account</a>
      </div>
   </div>
</div>