div.workout-builder {
   div.sub-content {
      input.form-control {
         display: inline-block;
      }
      a {
         &.left {
            margin-right: 0.2em;
         }
         &.right {
            margin-left: 0.2em;
         }
      }

      div.workout-information {
         @media screen and (max-width: $min-sm-screen-width) {
            width: 50%;
         }
         @media screen and (min-width: $min-sm-screen-width) {
            width: 100%;
         }

         div.creator {
            span.workout-created-by {
               margin-right: 0.4em;
               vertical-align: middle;
            }

            a.workout-created-by-name {
               vertical-align: middle;
               margin-left: 0.2em;
            }
            margin-bottom: 0.3em;
         }

         div.workout-dates {
            display: table;

            div.created-on,
            div.updated-on {
               font-size: 0.8em;
               display: table-row;

               span.date-label {
                  display: table-cell;
                  padding-right: 0.4em;
               }
               span.date-text {
                  display: table-cell;
               }
            }
         }

         display: inline-block;
         font-size: 1.1em;

         padding-bottom: 1em;
         margin-bottom: 1em;
         border-bottom: 1px solid black;
      }

      div.workout-container {
         font-size: 1.5em;
         text-align: left;
      }

      @import "new_workout";
   }
}