div.workout-builder {
   div.sub-content {
      input.form-control {
         display: inline-block;
      }
      a {
         &.left {
            margin-right: 0.2em;
         }
         &.right {
            margin-left: 0.2em;
         }
      }

      div.workout-container {
         font-size: 1.5em;
         text-align: left;
      }

      @import "new_workout";
   }
}