<div class="nav-container">
   <div class="nav-sub-container">
      <nav>
         <a class="link about cancel-underline old-underline" ui-sref="main.page.about.default">About</a>
         <a class="link blog cancel-underline old-underline" ui-sref="main.page.blog.default">Blog</a>
         <a class="link question cancel-underline old-underline" ui-sref="main.page.question.ask">Coaching</a>
         <a class="link contact cancel-underline old-underline" ui-sref="main.page.contact.default">Contact</a>
      </nav>
   </div>
</div>