<div class="nav-container">
   <div class="nav-sub-container">
      <nav>
         <a class="link about" ui-sref="main.page.about.default">About</a>
         <a class="link blog" ui-sref="main.page.blog.default">Blog</a>
         <a class="link question" ui-sref="main.page.question.ask">Coaching</a>
         <a class="link contact" ui-sref="main.page.contact.default">Contact</a>
      </nav>
      
      <!-- 
          
<nav>
         <a class="link" ui-sref="main.page.about.default" href="#/about/" style="/* text-align: le */
/* position: absolute; */
/* left: 0px; */
/* margin-right: 40px; */
width:25%;
display:inline-block;">About</a>
      
         <a class="link" ui-sref="main.page.blog.default" style="/* position: relative; */
/* left: -20px; */
width:22%;
display: inline-block;">Blog</a>
      
         <a class="link" ui-sref="main.page.question.ask" href="#/question/ask" style="/* position: relative; */
/* left: 12px; */
display: inline-block;
width: 31%;">Coaching</a>
      
         <a class="link" ui-sref="main.page.contact.default" style="/* position: absolute; */
/* right: 0px; */">Contact</a>
   </nav>          
          
          -->
   </div>
</div>