<div class="social-links"></div>

<div class="user-details">
   <div class="login-info">
      <div ng-if="false === isLoggedIn()">
         <a class="button login-button cancel-underline" ui-sref="main.page.login.default">
            <span>Login</span>
         </a>
      </div>
      
      <div ng-if="true === isLoggedIn()">
         <a class="button profile-name-and-picture cancel-underline"
            ui-sref="main.page.user.default({userId: getUserId()})">
            <span class="profile-picture-mini">
               <profile-picture user="getLoggedInUser()" width="18px"></profile-picture>
            </span>
            <span class="login-name" ng-bind="getFirstName()"></span>
         </a>
         <!-- Need to make this a directive! -->
         <a class="button notifications-icon cancel-underline"
            ng-click="toggleNotificationsWindow($event)">
            <span font-awesome-icon-text
                  icon="{{getNumberOfUnreadNotifications() ? 'fa-comment' : 'fa-comment-o'}}"
                  class="icon">
            </span>
            <span class="number"
                  ng-bind="getNumberOfUnreadNotifications()">
            </span>
         </a>
         <a class="login-button cancel-underline" ng-click="logout()">
            <span>Logout</span>
         </a>
      </div>
   </div>
</div>