<div class="social-links"></div>

<div class="user-details">
   <div class="login-info">
      <div ng-if="false === isLoggedIn()">
         <a class="button login-button cancel-underline" ui-sref="main.page.login.default">
            <span>Login</span>
         </a>
      </div>
      
      <div ng-if="true === isLoggedIn()">
         <a class="button profile-name-and-picture cancel-underline"
            ui-sref="main.page.user.default({userId: getUserId()})">
            <span class="profile-picture-mini">
               <profile-picture user="getLoggedInUser()" width="18px"></profile-picture>
            </span>
            <span class="login-name" ng-bind="getFirstName()"></span>
         </a>
         <notifications-button 
            class="button cancel-underline"
            user="getLoggedInUser()">
         </notifications-button>
         <a class="login-button cancel-underline" 
            confirm-click="logout()"
            confirm-message="Logout?">
            <span>Logout</span>
         </a>
      </div>
   </div>
</div>