<div ng-if="!isEditing && !model.is_unborn" class="display">
   <div class="options">
      <span font-awesome-icon-text class="bullet" icon="fa-circle">
      </span>
      <span class="notes" ng-bind="getSetNotes()"></span>
      <span class="quantity" ng-bind="getSetQuantity()"></span>

      <span ng-if="isEditable">
         <a class="left" ng-click="editClicked()">Edit</a>
         <a class="right" 
            confirm-click="deleteClicked()"
            confirm-message="Delete Set?">Delete</a>
         <a class="right"
            clipboard-copy-link="model"
            ng-click="copySet()"></a>
      </span>
   </div>
   <div class="list elements">
      <div ng-repeat="element in model.elements">
         <set-element model="element"
            is-editable="false"
            show-intervals-and-rests="true">
         </set-element>
      </div>  
   </div> 

   <div class="total" ng-if="showTotalWhenNotEditing">
      <span font-awesome-icon-text icon="fa-arrow-right" text="{{model.getTotalDistance()}}">
      </span>
   </div>

   <div ng-bind="errorMessage" 
        ng-if="errorMessage"
        class="error">
   </div> 
</div>

<div ng-if="isEditing" class="edit" ng-class="getEditDivClass()">
   <div class="paste" ng-if="hasClipboardData()">
      <a ng-click="pasteSet()">Paste Set</a>
   </div>
   <div class="options">
      <div class="option">
         <input type="text" class="quantity form-control" placeholder="Rounds" ng-model="editingSet.quantity" />
      </div>
      <div class="option">
         <input type="text" class="form-control notes" placeholder="Notes" ng-model="editingSet.notes" />
      </div>
   </div>

   <div class="list elements">
      <div ng-repeat="element in editingSet.elements">
         <a ng-click="newSetElement($index)">
            <span font-awesome-icon-text
                  icon="fa-angle-double-right"
                  text="Swim"></span>
            </span>
         </a>
         <set-element
            model="element"
            on-save-clicked="saveSetElement(element)"
            on-delete-clicked="deleteSetElement(element)"
            on-cancel-clicked="cancelSetElement(element)"
            is-editable="true"
            can-edit-inline="true"
            scroll-to-when-edited="false"
            is-initially-editing="{{element.is_unborn}}"
            show-intervals-and-rests="true">
         </set-element>
      </div>
      <a ng-click="newSetElement()">
         <span font-awesome-icon-text
               icon="fa-plus"
               text="Swim"></span>
         </span>
      </a>
   </div>

   <div class="total">
      <span font-awesome-icon-text
            icon="fa-arrow-right"
            text="{{editingSet.getTotalDistance()}}">
      </span>
   </div>

   <div class="bottom-options">
      <a class="left"
         ng-click="saveClicked()" ng-bind="saveButtonText || 'Save Set'"></a>
      <a class="right" ng-click="cancelClicked()" ng-bind="cancelButtonText || 'Cancel'"></a>
   </div>

   <div ng-bind="errorMessage" 
        ng-if="errorMessage"
        class="error">
   </div> 
</div>

