<div ng-if="!isEditing" class="display">
   <span font-awesome-icon-text class="bullet" icon="fa-circle-o">
   </span>
   <span ng-bind="getElementQuantityAndDistance()"></span>
   <span ng-bind="getElementStroke()"></span>
   <span ng-bind="model.type"></span>
   <span class="notes" ng-bind="getElementNotes()" ng-if="model.notes"></span>
   <span class="inline-menu" ng-if="isEditable">
      <a class="left" ng-click="editClicked()">Edit</a>
      <a class="right" 
         confirm-click="deleteClicked()"
         confirm-message="Delete Swim?">Delete</a>
   </span>

   <div class="list modifications">
      <div ng-repeat="modification in model.modifications">
         <set-element-modification model="modification"
                                    is-editable="false">
         </set-element-modification>
      </div>
   </div>

   <div class="list intervals">
      <div ng-repeat="interval in model.intervals"
            ng-if="showIntervalsAndRests">
            <speed-time model="interval" 
                              is-interval="true"
                              is-editable="false"></speed-time-display>
      </div>
   </div>
   <div class="list rests">
      <div ng-repeat="rest in model.rests"
            ng-if="showIntervalsAndRests">
            <speed-time model="rest" 
                              is-interval="false"
                              is-editable="false"></speed-time-display>
      </div>
   </div>
</div>

<div ng-if="isEditing" class="edit" ng-class="getEditDivClass()">
   <div class="element">
      <input class="distance form-control" type="text" placeholder="Distance" ng-model="editingElement.distance" />
   </div>

   <div class="element">
      <input class="quantity form-control" type="text" placeholder="Quantity" ng-model="editingElement.quantity" />
   </div>

   <div class="element">
      <select class="form-control" ng-options="name for name in strokes" 
            ng-model="editingElement.stroke">
         <option value="">---Select Stroke---</option>
      </select>
   </div>

   <div class="element">
      <select class="form-control" ng-options="name for name in types" 
            ng-model="editingElement.type">
         <option value="">---Select Type---</option>
      </select>
   </div>

   <div class="element list modifications">
      <div ng-repeat="modification in editingElement.modifications">
         <set-element-modification model="modification"
                                       is-editable="true"
                                       can-edit-inline="true"
                                       is-initially-editing="{{modification.is_unborn}}"
                                       on-save-clicked="saveModification(modification)"
                                       on-cancel-clicked="cancelModification(modification)"
                                       on-delete-clicked="deleteModification(modification)">
         </set-element-modification>
      </div>
      <a ng-click="newModification()">
         <span font-awesome-icon-text
               icon="fa-plus"
               text="Modification"></span>
         </span>
      </a>      
   </div>

   <div class="element list intervals">
      <div ng-repeat="interval in editingElement.intervals">
         <speed-time model="interval" 
                           is-interval="true"
                           is-editable="true"
                           can-edit-inline="true"
                           is-initially-editing="{{interval.is_unborn}}"
                           on-save-clicked="saveInterval(speedTime)"
                           on-cancel-clicked="cancelInterval(speedTime)"
                           on-delete-clicked="deleteInterval(speedTime)">
         </speed-time>
      </div>  
      <a ng-click="newInterval()">
         <span font-awesome-icon-text
               icon="fa-plus"
               text="Interval"></span>
         </span>
      </a>
   </div>
   
   <div class="element list rests">
      <div ng-repeat="rest in editingElement.rests">
         <speed-time model="rest" 
                     is-interval="false"
                     can-edit-inline="true"
                     is-initially-editing="{{rest.is_unborn}}"
                     on-save-clicked="saveRest(speedTime)"
                     on-cancel-clicked="cancelRest(speedTime)"
                     on-delete-clicked="deleteRest(speedTime)"></speed-time>
      </div>  
      <a ng-click="newRest()">
         <span font-awesome-icon-text
               icon="fa-plus"
               text="Rest"></span>
         </span>
      </a>                   
   </div>
  

   <div class="element">
      <input class="notes form-control" type="text" placeholder="Notes" ng-model="editingElement.notes" />
   </div>

   <div class="bottom-options">
      <a ng-click="saveClicked()" class="left" ng-bind="saveButtonText || 'Save Swim'"></a>
      <a ng-click="cancelClicked()" class="right" ng-bind="saveButtonText || 'Cancel'"></a>
   </div>
</div>