<div ng-if="!isEditing" class="display">
   <span class="icon">
      <img ng-src="{{getModificationIcon()}}" />
   </span>
   <span class="display name" ng-bind="formatModificationName(model)"></span>

   <span class="display" ng-if="isEditable">
      <a class="left" ng-click="editClicked()">Edit</a>
      <a class="right" 
         confirm-click="deleteClicked()"
         confirm-message="Delete Modification?">Delete</a>
      <a class="right"
         clipboard-copy-link="model"></a>
   </span>

   <div ng-bind="errorMessage" 
        ng-if="errorMessage"
        class="error">
   </div>
</div>

<div ng-if="isEditing" class="edit" ng-class="getEditDivClass()"> 
   <div class="paste"
        clipboard-paste="editingModel"
        name="Modification">
   </div>    
   <div class="form">
      <span class="edit-icon" font-awesome-icon-text icon="fa-cogs">
      </span>

      <select ng-model="editingModel.name"
                  ng-options="modification for modification in getModificationList()"
                  class="form-control">
         <option value="">--Select Modification--</option>
      </select>
      <span class="is-optional fa-checkbox">
         <input type="checkbox" class="fa-square-checkbox" ng-model="editingModel.is_optional" />
         <label>Optional?</label>
      </span>
   </div>
   <div class="bottom-options">
      <a class="left" ng-bind="saveButtonText || 'Save Modification'" ng-click="saveClicked()"></a>
      <a class="right" ng-bind="cancelButtonText || 'Cancel'" ng-click="cancelClicked()"></a>
   </div>

   <div ng-bind="errorMessage" 
        ng-if="errorMessage"
        class="error">
   </div>
</div>