<div ng-if="!isEditing" class="display">
   <span font-awesome-icon-text icon="{{isInterval ? 'fa-clock-o' : 'fa-bed'}}">
   </span>
   <span class="display" ng-bind="model.name"></span>
   <span class="display" ng-bind="getTimeString()"></span>

   <span class="display" ng-if="isEditable">
      <a class="left" ng-click="editClicked()">Edit</a>
      <a class="right" 
         confirm-click="deleteClicked()"
         confirm-message="{{isInterval ? 'Delete Interval?' : 'Delete Rest?'}}">Delete</a>
   </span>

   <div ng-bind="errorMessage" 
        ng-if="errorMessage"
        class="error">
   </div>
</div>

<div ng-if="isEditing" class="edit" ng-class="getEditDivClass()">     
   <div class="form">
      <span class="edit-icon" font-awesome-icon-text icon="{{isInterval ? 'fa-clock-o' : 'fa-bed'}}">
      </span>

      <input type="text" class="name form-control" ng-model="editingModel.name" placeholder="Speed" />
      
      <select ng-model="editingModel.time.hour"
                  ng-options="time for time in hours"
                  class="time form-control">
            <option value="">--Hour--</option>
      </select>

      <select ng-model="editingModel.time.minute"
                  ng-options="time for time in minutes"
                  class="time form-control">
            <option value="">--Minute--</option>
      </select>

      <select ng-model="editingModel.time.second"
                  ng-options="time for time in seconds"
                  class="time form-control">
            <option value="">--Second--</option>
      </select>
   </div>
   <div class="bottom-options">
      <a class="left" ng-bind="saveButtonText || (isInterval ? 'Save Interval' : 'Save Rest')" ng-click="saveClicked()"></a>
      <a class="right" ng-bind="cancelButtonText || 'Cancel'" ng-click="cancelClicked()"></a>
   </div>

   <div ng-bind="errorMessage" 
        ng-if="errorMessage"
        class="error">
   </div>
</div>