body {
    div.main {
        width: 100%;
        padding: 0px;
        margin: 0px;
        height: 100%;
    }
    
    div.footer {
        span.admin-link {
            font-size: 10px;
        }
    }
}