html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    
    input[type="text"], input[type="password"],
    input[type="email"] {
        color: black;
        font-weight: normal;
    }
    
    input.file-reader-picker {
        position: absolute;
        left: -7000px;
    }
    
    /*
    a:hover {
        cursor: pointer;
    }*/

    a {
       display: inline-block;
       position: relative;

       &:hover {
          cursor: pointer;
          text-decoration: none;
          //border-bottom: 1px solid;
          &:not(.cancel-underline) {
            &::after {
               content: '';
               position: absolute;
               left: 0;
               display: inline-block;
               height: 1em;
               width: 100%;
               border-bottom: 1px solid;
               margin-top: 0.22em;
            }
          }
       }
    }    
    
    div.profile-picture {
        display: inline-block;
    }
    
    div.loading-progress {
       display: inline-block;
    }    
    
    div.loading-bar-parent {
        border-width: 1px;
        border-style: solid;
        
        div.loading-bar {
            
        }
    }
}

@import "variables";
@import "animations";

@import "main/main";
@import "admin/admin";

@import "directives/media_picker";
@import "directives/loading_progress";
@import "directives/media_renderer";
@import "directives/font_awesome_centered_icon";

@import "directives/set_builder/set_element_renderer";
@import "directives/set_builder/speed_time_renderer";
@import "directives/set_builder/set_renderer";
@import "directives/set_builder/workout_renderer";