html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    
    // Bootstrap wants to override these
    // two properties of inputs, so we have
    // to mark them with !important.

    input[type="text"], input[type="password"],
    input[type="email"] {
       font-size: 1.0em !important;
       height: 2.3em !important;
    }

    input[type="text"], input[type="password"],
    input[type="email"] {
        color: black;
        font-weight: normal;
    }
    
    input.file-reader-picker {
        position: absolute;
        left: -7000px;
    }

    div.error {
       font-weight: bold;
       color: red;
    }

    a {
       display: inline-block;
       position: relative;

       &.left {
          margin-right: 0.167em;
       }
       &.right {
          margin-left: 0.167em;
       }

       &:hover, &:active {
          cursor: pointer;
          text-decoration: none;
          &:not(.cancel-underline) {
            &::after {
               content: '';
               position: absolute;
               left: 0;
               display: inline-block;
               height: 1em;
               width: 100%;
               border-bottom: 1px solid;
               margin-top: 0.22em;
            }
          }
          &.cancel-underline {
             &.old-underline {
                text-decoration: underline;
             }
          }
       }
    }    

    .centered {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;        
    }
    
    div.profile-picture {
        display: inline-block;
    }
    
    div.loading-progress {
       display: inline-block;
    }    
    
    div.loading-bar-parent {
        border-width: 1px;
        border-style: solid;
        
        div.loading-bar {
            
        }
    }

    .print {
       display: none;
    }
}

@media print {
    // Everything has to be marked as !important
    // here as it's print media, and seems to be
    // overridden otherwise.

    html, body {
        overflow: visible !important;
        width: 100% !important;
    
        .top-bar,
        .header,
        .large-header-padding,
        .mobile-header-padding,
        .mobile-ad-space,
        .ad-space,
        a {
            display: none !important;
        }
        
        .print {
           display: block !important;
        }

        div.content {
            overflow: visible !important;
            float: none !important;
        }

        .workout-builder {
            float: none !important;

            font-size: 12pt !important;
            margin-top: 15px !important;

            .workout-information {
               display: none !important;
            }

            .workout-container {
                display: none !important;
            }
            .create-new-workout {
                display: none !important;
            }

            .print {
                .workout-icons {
                    margin-bottom: 0.8em;
                }
            }
        }
    }
}

@import "variables";
@import "animations";

@import "main/main";
@import "admin/admin";

@import "directives/media_picker";
@import "directives/loading_progress";
@import "directives/media_renderer";
@import "directives/font_awesome_centered_icon";
@import "directives/font_awesome_icon_text";

@import "directives/workout_builder/workout_renderer";
@import "directives/workout_builder/set_renderer";
@import "directives/workout_builder/set_element_renderer";
@import "directives/workout_builder/set_element_modification_renderer";
@import "directives/workout_builder/speed_time_renderer";

@import "directives/workout_widget";
@import "directives/question_widget";