html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    
    input[type="text"], input[type="password"],
    input[type="email"] {
        color: black;
        font-weight: normal;
    }
    
    input.file-reader-picker {
        position: absolute;
        left: -7000px;
    }
    
    a:hover {
        cursor: pointer;
    }
    
    div.profile-picture {
        display: inline-block;
    }
    
    div.loading-bar-parent {
        border-width: 1px;
        border-style: solid;
        
        div.loading-bar {
            
        }
    }
}

@import "variables";

@import "main/main";
@import "admin/admin";